.navbar {
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 800;
}

.navbarContainer{
    height: 60px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}

/* .navRight{
    display: flex;
    gap: 15px;
    align-items: center;
    
} */

.logo {
    font-size: 23px;
    font-weight: 600;
    color: #055AD1;
}

.resLogo{
    display: none;
    font-size: 23px;
    font-weight: 600;
    color: #055AD1;
}

.cart {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .resLogo{
        display: block;
    }

    .logo{
        display: none;
    }
}
