.searchForm {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 50px auto;
    max-width: 500px;
}
.searchInput {
    padding: 4px 12px;
    flex-grow: 1;
    border-radius: 5px;
    outline: 0px solid #416FB4;
    border: 1px solid #416FB4;
    font-size: 17px;
    transition: outline .2s ease-in-out;
}

.searchInput:focus{
    outline: 3px solid #416FB4;
}

.searchButton {
    background-color: #416FB4;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 117px;
    height: 40px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}