body {
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, sans-serif;
}

.imageSection {
    display: flex;
}

.smallImagesDiv {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 15px;
    padding: 0 5px;
    margin-right: 10px;
}

.smallImageContainer{
    cursor: pointer;
}

.imageAnimation:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    transition: 1ms ease;
}

.profileImageContainer{
    width: 500px;
    min-height: 400px;
}

.profileImage {
    border-radius: 10px;
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.smallerImages {
    border-radius: 10px;
    height: 6vh;
    width: 6vw;
    object-fit: cover;
    object-position: center;
}

.headerSection {
    display: flex;
    align-items: center;
    margin-top: 56px;
    width: 100%;
}

.displayPrice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.displayDiscountProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.displayIdBrand {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

.productInfo {
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    margin-left: 30px;
    background-color: white;
    
}

.productInfo > * {
    /* box-sizing: border-box; */
    margin: 0;
}

.p {
    margin: 0px !important;
}

.descriptionSection {
    text-align: center;
}

.productTitle {
    font-size: x-large;
    font-weight: 800;
}

#descriptionLetter {
    color: grey
}

#priceHeader {
    color: rgb(20, 119, 232);
    font-size: xx-large;
}

.quantityDiv {
    margin: 15px 0;
}

.quantityInput {
    width: 35px;
    height: 25px;
}

.buttonsDiv {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    gap: 15px;
}

.buyNow {
    all: unset;
    text-decoration: none;
    border: 1px solid #416FB4 ;
    border-radius: 2.5px;
    background-color: #416FB4;
    /* padding: 5px 25px; */
    color: white;
    font-size: 18px;
}
.buyNow:hover {
    background-color: rgba(20, 119, 232, 0);
    color: #416FB4;
}

.addCartButton {
    all: unset;
    border: 1px rgb(20, 119, 232) solid;
    border-radius: 2.5px;
    background-color: white;
    /* padding: 5px 25px; */
    color: rgb(20, 119, 232);
    cursor: pointer;
    font-size: 18px;
}

.buyNow, .addCartButton {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .05s ease-in-out;
}

.addCartButton:hover {
    color: white;
    background-color: #416FB4;
}

.brandStyles {
    border-radius: 15px;
    background-color: lightsalmon;
    padding: 2px 7px;
    color: rgb(123, 64, 40);
}

.gobackButton {
    text-decoration: none;
    border: 1px rgb(20, 119, 232) solid;
    border-radius: 2.5px;
    background-color: white;
    padding: 5px 15px;
    color: rgb(20, 119, 232);
}

.gobackButton:hover {
    transform: scale(1.5);
}

.backButtonDiv {
    /* margin-top: -2%; */
    /* position: absolute; */
    /* right: 20%;
    top: 7%; */
    z-index: 999;
}

@media only screen and (max-width: 945px) {
    .headerSection{
        flex-direction: column;
    }
}