body {
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, sans-serif;
}

.imageSection {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.smallImagesDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 5px;
    margin-right: 10px;
}

.imageAnimation:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    transition: 1ms ease;
}

.profileImage {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    border-radius: 10px;
    /* margin: 0% 5%; */
    height: 40vh;
    /* width: 45vw; */
}

.smallerImages {
    border-radius: 10px;
    /* margin: 7% 5%; */
    height: 6vh;
    width: 6vw;
    object-fit: cover;
    object-position: center;
}

.smallImageContainer {
    
}

.headerSection {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
    align-items: center;
    margin-top: 100px;
    width: 100%;
}

.displayPrice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.displayDiscountProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.displayIdBrand {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.productInfo {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
}

.descriptionSection {
    text-align: center;
}

b {
    font-size: larger;
    font-weight: 800;
}

#descriptionLetter {
    color: grey
}

#priceHeader {
    color: rgb(20, 119, 232);
}

.quantityDiv {
    margin: 15px 0;
}

.quantityInput {
    width: 35px;
    height: 25px;
}

.buttonsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.buyNow {
    text-decoration: none;
    border: 1px rgb(20, 119, 232) solid;
    border-radius: 2.5px;
    background-color: rgb(20, 119, 232);
    padding: 5px 25px;
    color: white;
}
.buyNow:hover {
    transform: scale(1.2);
}

.addCartButton {
    border: 1px rgb(20, 119, 232) solid;
    border-radius: 2.5px;
    background-color: white;
    padding: 5px 25px;
    color: rgb(20, 119, 232);
}

.addCartButton:hover {
    transform: scale(1.2);
}

.brandStyles {
    border-radius: 15px;
    background-color: lightsalmon;
    padding: 2px 7px;
    color: rgb(123, 64, 40);
}