body {
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, sans-serif;
    background-color: lightgray;
}

.profile-image {
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 50vw;
}

.header-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.display-price-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-discount-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-id-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

.description-section {
    text-align: center;
}

b {
    font-size: large;
    font-weight: 800;
}

#description-letter {
    color: grey
}