.cardsContainer {
    margin-top: 50px;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 19px;
    grid-row-gap: 19px;
    grid-auto-flow: dense;
}

@media only screen and (max-width: 870px) {
    .cardsContainer {
    grid-template-columns: repeat(3,1fr);

    }
}

@media only screen and (max-width: 630px) {
    .cardsContainer {
    grid-template-columns: repeat(2,1fr);

    }
}

@media only screen and (max-width: 460px) {
    .cardsContainer {
    grid-template-columns: 1fr;

    }
}