.container {
    margin: 0px auto;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0px 12px;
}

a {
    text-decoration: none;    
    color: unset;
}

.cart-container {
    position: relative;
    display: flex;
    gap: 5px;
    cursor: pointer;
  }

  .cart-title {
    position: absolute;
    bottom: -40px;
    font-weight: 400;
    z-index: 988;
  }

  .opac-bg {
    animation-name: cart-bg;
    animation-timing-function: ease-out;
    animation-duration: 0.2s;
    position: fixed;
    z-index: 997;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.328);
    display: flex !important;
  }

  @keyframes cart-bg {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .slide-cart-container {
    animation: slide-cart-container 0.3s ease-out;
    position: absolute;
    right: 0px;
    top: 0px;
    max-width: 500px;
    min-width: 450px;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 998;
  }

  @media only screen and (max-width: 630px) {
    .slide-cart-container {
      min-width: 100%;
      max-width: 100%;
      /* min-height: 100vh; */
    }
  }
  
  @keyframes slide-cart-container {
    from {
      right: -500px;
    }
    to {
      right: 0px;
    }
  }

  .cart-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .cart-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: scroll;
    min-height: calc(100vh - 129px - 70px);
    padding: 5px;
  }
  
  .cart-footer {
    font-family: "Fira Code", monospace;
    border-top: 2px dashed black;
    margin-top: 17px;
    padding-top: 10px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: flex-end !important;
  }

  .cart-footer-title {
    font-weight: 800;
    color: #303030;
    font-size: 22px;
  }
  
  .cart-empty {
    align-self: center;
    font-size: 20px;
    font-weight: 600;
    justify-self: center;
    margin-top: 40%;
  }
  
  .checkout {
    border: 2px solid black;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #dfdfdf;
    cursor: pointer;
  }
  
  .checkout:hover {
    background-color: #000;
    color: white;
  }
  
  .checkout:focus {
    outline: 2px solid grey;
    outline-offset: 4px;
  }
  
  .subtotal {
    font-size: 25px;
    font-weight: bold;
  }
  
  .subtotal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .cart-item {
    background-color: rgb(242, 242, 242);
    display: flex;
    /* justify-content: space-between; */
    /* gap: 13px; */
    min-height: 140px;
    width: 100%;
    border: 1px solid rgb(113, 113, 113);
    border-radius: 3px;
    overflow: hidden;
  }
  
  .cart-item-left {
    width: 130px;
    /* aspect-ratio: 1/1; */
  }
  
  .cart-item-img {
    object-fit: cover;
    width: 100%;
  }
  
  .cart-item-right {
    width: fit-content;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .cart-item-price {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    padding-top: 5px;
  }
  
  .cart-item-remove {
    align-self: flex-end;
    /* margin: 0px 10px 10px 0px; */
    cursor: pointer;
    padding: 10px;
    font-size: 22px;
  }

  .cart-item-mid {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 12px;
    padding: 9px 0px;
  }
  
  .cart-item-title {
    margin: 0;
    padding-right: 20px;
  }
  
  .gnt-changer-container {
    display: flex;
  }
  
  .cart-qnt-changer {
    background-color: #000;
    color: white;
    height: fit-content;
    width: fit-content;
    padding: 3px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .cart-qnt {
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #000;
    width: 25px;
  }

  .quantity {
    border: 1px solid rgb(44, 44, 44);
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
  }

  .quantity > span {
    margin-right: 10px;
    font-weight: 600;
    font-size: 17px;
  }

  .qnt-changer {
    background-color: #fff;
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-weight: 600;
    font-size: 26px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    border: none;
  }
  
  .qnt-changer:focus {
    outline: 2px solid grey;
    outline-offset: 4px;
  }
  
  .qnt-changer:hover {
    background-color: rgb(218, 218, 218);
  }

  .item-qty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 22px;
    font-weight: 700;
    border-left: 1px solid rgb(44, 44, 44);
    border-right: 1px solid rgb(44, 44, 44);
  }

  .layout{
    margin-top: 60px;
    min-height: 100vh;
  }